# scp_script_template.j2
#!/bin/bash

# Replace placeholders with actual values
SSH_USER="{{ ssh_user }}"
SSH_PASSWORD="{{ ssh_password }}"
MASTER_NODE_IP="{{ master_node_ip }}"
SCRIPT_PATH="{{ script_path }}"
DESTINATION="{{ destination_path }}"

# Run SCP command from semaphore server to the destination
sshpass -p "$SSH_PASSWORD" scp -o StrictHostKeyChecking=no "{{ script_path }}" "{{ ssh_user }}@{{ master_node_ip }}:{{ destination_path }}" 

